/* Login.css */


.login-container {
  width: 100%;
  min-height: 100vh;
  /* background: #eef2f7; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.login-box {
  width: 100%;
  max-width: 400px;
  background: #ffffff;
  padding: 35px 35px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.login-box h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
  color: #222;
}

/* Inputs */
.login-box input {
  width: 100%;
  padding: 12px 14px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  outline: none;
}

.login-box input:focus {
  border-color: #007aff;
}

/* Button */
.login-btn {
  width: 100%;
  padding: 12px;
  background: #007aff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.login-btn:hover {
  background: #0056b3;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a {
  color: #007aff;
  text-decoration: none;
  font-weight: 500;
}

.login-link a:hover {
  text-decoration: underline;
}